extends emailBase

block content

    p Hi #{firstName},
    p `Hello you have forget your password! don't wory you can rest it through this link #{url} , if you didn't forget yourpassword please ignoore this email `

    p (This webpage we didn't implement it yet !)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=url , target='_blank') reest your Password
    p If you need any help with booking your next tour, please don't hesitate to contact me!
